@model xmall.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DBLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <div class="card-head">
                    <header>Edit Product</header>
                </div>
                <div class="card-body row">
                    <div class="col-lg-6 p-t-20">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <label class="mdl-textfield__label">Product Code</label>

                            @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                            @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6 p-t-20">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <label class="mdl-textfield__label">Product Name</label>

                            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6 p-t-20">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <label class="mdl-textfield__label">Quantity</label>

                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <label class="mdl-textfield__label">Price</label>

                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <label class="mdl-textfield__label">New</label>

                            @Html.EditorFor(model => model.IsNew, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                            @Html.ValidationMessageFor(model => model.IsNew, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <label class="mdl-textfield__label">Weigth</label>

                            @Html.EditorFor(model => model.weigth, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                            @Html.ValidationMessageFor(model => model.weigth, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <label class="mdl-textfield__label">Purchase Price</label>

                            @Html.EditorFor(model => model.PurchasePrice, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                            @Html.ValidationMessageFor(model => model.PurchasePrice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <label class="mdl-textfield__label">Quantity</label>

                            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20 text-center">
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Styles {
    @Styles.Render(
    "~/Content/plugins/dropzone/dropzone.css",
    "~/Content/plugins/material-datetimepicker/bootstrap-material-datetimepicker.css"
    )
}


@section Scripts {
    @Scripts.Render(
    "~/Content/plugins/jquery/jquery.min.js",
    "~/Content/plugins/popper/popper.min.js",
    "~/Content/plugins/jquery-blockui/jquery.blockui.min.js",
    "~/Content/plugins/jquery-slimscroll/jquery.slimscroll.min.js",

    "~/Content/plugins/bootstrap/js/bootstrap.min.js",

    "~/Content/js/app.js",
    "~/Content/js/layout.js",
    "~/Content/js/theme-color.js",

    "~/Content/plugins/material/material.min.js",
    "~/Content/js/pages/material_select/getmdl-select.js",
    "~/Content/plugins/material-datetimepicker/moment-with-locales.min.js",
    "~/Content/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js",
    "~/Content/plugins/material-datetimepicker/datetimepicker.js",

    "~/Content/plugins/dropzone/dropzone.js",
    "~/Content/plugins/dropzone/dropzone-call.js",

    "~/Content/js/pages/ui/animations.js"
    )
}